body {
  background-color: #333;  
}

.container {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.btn-toggle {
  text-transform: uppercase;
}

.container p, a {
  color: #fff;
}

a {
  text-decoration: underline;
}
