body {
  width: 100%;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none;
}

.btnx,
.btnx:before,
.btnx .fab,
.btnx .far {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.btnx:before {
  top: 90%;
  left: -110%;
}

.btnx .fa,
.btnx .fab,
.btnx .far {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.btnx.facebook:before {
  background-color: #3b5998;
}

.btnx.facebook .fab {
  color: #3b5998;
}

.btnx.twitter:before {
  background-color: #3cf;
}

.btnx.twitter .fab {
  color: #3cf;
}

.btnx.google:before {
  background-color: #dc4a38;
}

.btnx.google .fab {
  color: #dc4a38;
}

.btnx.gdrive:before {
  background-color: #0c9354;
}

.btnx.gdrive .fab {
 color: #0c9354;
}

.btnx.reddit:before {
  background-color: #FF5700;
}

.btnx.reddit .fab {
  color: #FF5700;
}

.btnx.skype:before {
  background-color: #00aff0;
}

.btnx.skype .fab {
  color: #00aff0;
}

.btnx.bookmark .far {
  color: #ec2bff;
}

.btnx.bookmark:before {
  background-image: linear-gradient(to right top, #e800ff, #c25aff, #9f7aff, #868eff, #7c9df8);
}

.btnx:hover:before {
  top: -10%;
  left: -10%;
}

.btnx:hover .fa,
.btnx:hover .fab,
.btnx:hover .far {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btnx:hover .icon-googledrive::before {
  font-size: 42px;
}

.btnx {
  display: inline-block;
  background-color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 10px;
  margin-bottom: 8px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.3);
  opacity: 0.99;
  vertical-align:middle;
}

.btnx:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btnx .fa, 
.btnx .fab {
  font-size: 38px;
  vertical-align: middle;
}

.btnx .far {
  font-size: 32px;
  vertical-align: middle;
}

.container {
	margin-top: 10em;
}

.favlink {
  background: none;
  border: 2px solid;
  border-radius: 25px;
  font: inherit;
  margin: 0em 0.5em;
  padding: 0.5em 2em;
  color: var(--color);
  transition: 0.4s;
}

.favlink:hover, .favlink:focus {
  border-color: var(--hover);
  color: #fff !important;
  box-shadow: inset 15em 0 0 0 var(--hover);
  transition: 0.7s;
}

.fav-bookmark {
  --color: #000;
  --hover: var(--color);
  color: var(--color);  
}

.fav-google {
  --color: #dc4a38;
  --hover: var(--color);
  color: var(--color);
}

.fav-gdrive {
  --color: #0c9354;
  --hover: var(--color);
  color: var(--color);
}

.fav-facebook {
	--color: #3b5998;
	--hover: var(--color);
	color: var(--color);
}

.fav-twitter {
	--color: #3cf;
	--hover: var(--color);
	color: var(--color);
}

.fav-reddit {
	--color: #FF5700;
	--hover: var(--color);
	color: var(--color);
}

.glow-on-hover {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    color: #111;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #111
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.links {
}

.separator {
  margin-bottom: 5em;
}

.social-btns {
  height: 90px;
  font-size: 0;
  text-align: center;
  margin-top: 10%;
}

.social-btns ul li {
  display: inline;
}

[data-color = 'black'] {
  --color: #000;
  --hover: var(--color);
  color: var(--color);
}

[data-color = 'blue-sky'] {
  color: #007bff;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}